<!DOCTYPE html>
<html lang="en">
	<%- include("../partials/head.ejs", {title: "Detalle producto", cssDeseado:["productDetail.css"] }) %>
<body>

    <!-- ------------- HEADER -------------- -->

    <%- include("../partials/header.ejs") %>

<!-- ------------------ MAIN ----------------- -->

    <main>

            <% if (product != undefined) { %>
                    <picture class="detail__img">
                        <img src="../uploads/products/<%= product.image %>" alt="traje">
                    </picture>    
                    <h3 class="detail__informacion__titulo"><%= product.name %> </h3>
                    <h4 class="detail__informacion__precio"> <span id="fondo__precio" >$<%= product.price %> </span></h4>
                    <h7 class="detail_informacion_descripcion"></h6><%= product.description 
                    %> </h7>

                <form method="POST" action="/user/addcart">
                        <% if (product.colors) { %>
                                    <label>Color:</label>
                                    <select name="color">
                                        <% for( let i = 0; i < product.colors.length; i++ ) { %>
                                        <option value="<% product.colors[i].name%>"><%=product.colors[i].name%> </option>
                                        <% } %>
                                    </select>
                        <% } %>

                        <% if (product.sizes) { %>

                                    <label>Talle:</label>
                                    <select name="talles">

                                        <% for( let i = 0; i < product.sizes.length; i++ ) { %>
                                        <option value="<% product.sizes[i].name%>"><%=product.sizes[i].name%> </option>
                                        <% } %>
                                    </select>
                                <% } %>                               
                            
                                <label class="count">Cantidad</label>
                                <input id="count" type="text" style="text-align: center; width: 30px;">
    
                    
                <button type="submit" class="detail__informacion__boton">Agregar al carrito</button>      
        </form> 

            <% } %>

    </main>

    <!-- ---------------- FOOTER ----------------- -->

    <%- include("../partials/footer.ejs") %>

</body>
</html>