<!DOCTYPE html>
<html lang="en">
	<%- include("../partials/head.ejs", {title: "Create", cssDeseado:["productEditCreate.css"] }) %>
<body>
    <!-- ------------- HEADER -------------- -->
    <%- include("../partials/header.ejs") %>
<!-- ------------------ MAIN ----------------- -->
    <main>
        <br>
        <h1 id="titulo">Crear producto</h1>

		<% if (locals.errors && errors.name) { %>
			<div class="textoError"></div>
				<%= errors.name.msg %> 
			</div>
		<% } %>

        <form class="formulario" method="POST" action="/product/create" enctype="multipart/form-data" >
            <label for="name" class="form-label">Nombre del producto:</label>
			<input type="text" id="name" name="name" placeholder="Ej: Pantalon Pampero" class="form-input">
						
            <label for="price" class="form-label">Precio del producto:</label>
			<input type="text" id="price" name="price" placeholder="Ej: 5678" class="form-input">

            <label for="description" class="form-label">Descipción:</label>
			<textarea name="description" id="description"></textarea>

			<label for="colors">Color:</label>
			<div class="talleFlex">
				
					<% colors.forEach(color => { %>
						<input type="checkbox" name="colors" value="<%= color.id %>">
							<%= color.name %>
					</input>
					<% }) %>
					
			</div>

				<label for="brand">Marca:</label>
				<select name="brands" >
					<% brands.forEach(brand => { %>
						<option value="<%= brand.id %>">
							<%= brand.name %>
						</option>
					<% }) %>
				</select>

			<label for="talle" >talle:</label>
			<div class="talleFlex">
			<% for( let i = 0; i < 5; i++ ) { %>
				<label><input type="checkbox" name="size" value="<%= sizes[i].id %>"><%= sizes[i].name %></label>
			<% } %>	 
			</div>
			<div class="talleFlex">
				<% for( let i = 5; i < 12; i++ ) { %>
					<label><input type="checkbox" name="size" value="<%= sizes[i].id %>"><%= sizes[i].name %></label>
				<% } %>	 
			</div>      


				
			</fieldset>


			<label for="category">Categoria:</label>
				<select name="category" >
					<% categories.forEach(category => { %>
						<option value="<%= category.id %>">
							<%= category.name %>
						</option>
					<% }) %>
				</select>

			<fieldset>
			<label for="image">image</label>
			<input type="file" name="image" id="image" />
			</fieldset>

			<label for="offer" class="form-label">En oferta:</label>
			<select name="offer" id="offer" class="form-input">
			<option value=0>false</option>
			<option value=1>true</option>
			</select>

			<label for="outstanding" class="form-label">Destacado</label>
			<select name="outstanding" id="outstanding" class="form-input">
			<option value=0>false</option>
			<option value=1>true</option>
			</select>


			<label for="discount">Descuento</label>
			<input value="0" type="number" id="discount" name="discount" placeholder="" class="form-input">

			<button type="submit" class="guardar">Guardar producto</button>
        </form>
    </main>

    <!-- ---------------- FOOTER ----------------- -->
    <%- include("../partials/footer.ejs") %>
</body>
</html>