<!DOCTYPE html>
<html lang="en">
	<%- include("../partials/head.ejs", {title: "Edit", cssDeseado:["productEditCreate.css"] }) %>
<body>
    <!-- ------------- HEADER -------------- -->
    <%- include("../partials/header.ejs") %>
<!-- ------------------ MAIN ----------------- -->
    <main>
        <br>
        <h1 id="titulo">Editar producto</h1>
        <form class="formulario" action="/product/update/<%= product.id %>?_method=PUT" method="post" >
            <label for="name" class="form-label">Nombre del producto:</label>
			<input type="text" id="name" name="name" value="<%= product.name %> " class="form-input">
			
						
            <label for="price" class="form-label">Precio del producto:</label>
			<input type="text" id="price" name="price" value="<%= product.price %> " >

            <label for="description" class="form-label">Descipción:</label>
			<textarea name="description" placeholder="<%= product.description %> " id="description" value="<%= product.description %>"></textarea>

			<label for="colors">Color:</label>
			<div class="talleFlex">
				
					<% colors.forEach(color => { %>
						<input type="checkbox" name="colors" value="<%= color.id %>" style="<%= `background-color:${color.value};`%>">
							<%= color.name %>
					</input>
					<% }) %>
					
			</div>

			<label for="talle" >talle:</label>
			<div class="talleFlex">
			<% for( let i = 0; i < 12; i++ ) { %>
				<label><input type="checkbox" name="size" value="<%= product.size? product.size : sizes[i].id %>"><%= sizes[i].name %></label>
			<% } %>	 
			</div>

			<label for="brand">Marca:</label>
				<select name="brands" >
					<% brands.forEach(brand => { %>
						<option value="<%= brand.id %>">
							<%= brand.name %>
						</option>
					<% }) %>
				</select>

			<label for="category">Categoria:</label>
				<select name="category" >
					<% categories.forEach(category => { %>
						<option value="<%= category.id %>">
							<%= category.name %>
						</option>
					<% }) %>
				</select>


		
			<label for="image">image</label>
			<a href="/product/EditImage/<%=product.id%>">Editar imagen</a>

			<label for="offer" class="form-label">En oferta:</label>
			<select name="offer" id="offer" class="form-input">
			<option value=0>false</option>
			<option value=1>true</option>
			</select>

			<label for="outstanding" class="form-label">Destacado</label>
			<select name="outstanding" id="outstanding" class="form-input">
			<option value=0>false</option>
			<option value=1>true</option>
			</select>

			<label for="discount">Descuento</label>
			<input value="0" type="number" id="discount" name="discount" placeholder="<%= product.discount%>" class="form-input">
		

			<button type="submit" class="guardar">Guardar producto</button>
			
        </form>

		<form class="formulario" action="/product/delete/<%= product.id %>?_method=DELETE" method="post" >
			<button type="submit" id="borrar">ELIMINAR Producto</button>
		</form>

    </main>

	

    <!-- ---------------- FOOTER ----------------- -->
    <%- include("../partials/footer.ejs") %>
</body>
</html>