<!DOCTYPE html>
<html lang="en">
	<%- include("../partials/head.ejs", {title: "Edit", cssDeseado:["productEditCreate.css"] }) %>
<body>
    <!-- ------------- HEADER -------------- -->
    <%- include("../partials/header.ejs") %>
<!-- ------------------ MAIN ----------------- -->
    <main>
        <br>
        <h1 id="titulo">Editar producto</h1>
        <form class="formulario" action="/product/update/<%= product.id %>?_method=PUT" method="post" >
            <label for="name" class="form-label">Nombre del producto:</label>
			<input type="text" id="name" name="name" value="<%= product.name %> " class="form-input">
			
						
            <label for="price" class="form-label">Precio del producto:</label>
			<input type="text" id="price" name="price" value="<%= product.price %> " class="form-input">

            <label for="description" class="form-label">Descipción:</label>
			<textarea name="description" placeholder="<%= product.description %> " id="description" class="form-input"></textarea>

            <label for="color" class="form-label">Color:</label>
			<select name="color" id="color" value="<%= product.color %>" class="form-input" multiple>
            <option value="">Elegí</option>
			<option value="negro">negro</option>
			<option value="azul">azul</option>
			<option value="verde">verde</option>
            <option value="beige">beige</option>
			</select>

            <label for="talle" class="form-label">talle:</label>
			<select name="talle" id="size" value="<%= product.size %>" class="form-input" multiple>
            <option value="">Elegí</option>
			<option value="s">s</option>
			<option value="m">m</option>
			<option value="l">l</option>
            <option value="38">38</option>
			<option value="39">39</option>
			<option value="40">40</option>
			<option value="41">41</option>
			<option value="42">42</option>
			</select>

			<label for="category" class="form-label">Categoría:</label>
			<select name="category" id="category" class="form-input">
			<option value="">Elegí</option>
			<option value="ropa">Ropa de trabajo</option>
			<option value="calzado">Calzado</option>
            <option value="seguridad">Seguridad</option>
			<option value="otros">Otros</option>
			</select>

		
			<label for="image">image</label>
			<a href="/product/EditImage/<%=product.id%>">Editar imagen</a>

			<label for="offer" class="form-label">En oferta:</label>
			<select name="offer" id="offer" class="form-input">
			<option value="">Elegí</option>
			<option value=false>false</option>
			<option value=true>true</option>
			</select>

			<label for="outstanding" class="form-label">Destacado</label>
			<select name="outstanding" id="outstanding" class="form-input" >
			<option value="">Elegí</option>
			<option value=false>false</option>
			<option value=true>true</option>
			</select>

			<label for="discount">Descuento</label>
			<input type="number" id="discount" name="discount" placeholder="<%= product.discount%>" class="form-input">
		

			<button type="submit" class="guardar">Guardar producto</button>
			
        </form>

		<form class="formulario" action="/product/delete/<%= product.id %>?_method=DELETE" method="post" >
			<button type="submit" id="borrar">ELIMINAR Producto</button>
		</form>

    </main>

	

    <!-- ---------------- FOOTER ----------------- -->
    <%- include("../partials/footer.ejs") %>
</body>
</html>