<!DOCTYPE html>
<html lang="es">
    <%- include("./partials/head.ejs", {title: "GAF Textiles", cssDeseado:[""]}) %>

    <!-- ------------- HEADER -------------- -->

    <%- include("./partials/header.ejs") %>

<!-- ------------------ MAIN ----------------- -->

    <main class="main">
        <img class="main__banner" src="/images/slide-1588432077184-8272420312-23c6ea96035afa50e9a0414b5395f8631588432079-1920-1920.jpeg" alt="">

        <section>
            <h3 class="main__titulos">Productos destacados <a href="#"> ver más</a> </h3>
                <div class="main__section__destacados">
                    <% for( let i = 0; i < 4; i++ ) { %>
                        <article id="art1" class="main__articulos">
                            <a href="/product/<%= product[i].id %>"><img class="imagenArticulo" src="../uploads/products/<%= product[i].image %>" alt=""></a>
                                
                                <div class="detalleArticulos">   <i class="fas fa-truck"></i>  
                                <p class="precio"><%= product[i].price %> </p>
                                <p class="descuentos"><%= product[i].discount %> </p>
                                <h4 class="descripciones"><%= product[i].name %> </h4>
                                </div>
                        </article>
                    <% } %>
                </div>
        </section>      

        <section> 
            <h3 class="main__titulos">Ofertas <a href="#"> ver más</a></h3>
                <div class="main__section__ofertas">
                    <% for( let i = 4; i < 8; i++ ) { %>
                        <article id="art1" class="main__articulos">
                            <a href="/product/<%= product[i].id %>"><img class="imagenArticulo" src="../uploads/products/<%= product[i].image %>" alt=""></a>
                            
                            <div class="detalleArticulos">   <i class="fas fa-truck"></i>  
                            <p class="precio"><%= product[i].price %> </p>
                            <p class="descuentos"><%= product[i].discount %></p>
                            <h4 class="descripciones"><%= product[i].name %> </h4>
                            </div>
                        </article>
                    <% } %>
                </div>
        </section>

        <h1 class="main__h1"> GAF Textiles </h1>
        <h6 class="main__h6">Todo lo que su empresa necesita en seguridad industrial</h6>

        <picture class="main__fotoDoble">
            <img src="/images/engel-regntoj.jpg" alt="">
            <img src="/images/ny-engel-safety.jpg" alt="">
        </picture>

    </main>

    

    <!-- ---------------- FOOTER ----------------- -->

    <%- include("./partials/footer.ejs") %>

</body>
</html>