<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs", {title: "Registro", cssDeseado:["register.css"] }) %>

<body>

    <!-- ------------- HEADER -------------- -->

    <%- include("../partials/header.ejs") %>

<!-- ------------------ MAIN ----------------- -->

<main>
    <br>
    <br>
<h1 class="titulo">Iniciar Sesión</h1>

    <form method="POST" action="/user/create" enctype="multipart/form-data" >
        <fieldset class="formulario__field">

            <input type="text" name="nombre" class="formName"
            
            <% if (locals.oldData && oldData.nombre) { %>
                value="<%= oldData.nombre%>"
            <% } else { %> placeholder="Nombre y Apellido"  <% } %>

            <% if (locals.errors && errors.nombre) { %>
                class="invalido"
            <% } %>          
            >

            <% if (locals.errors && errors.nombre) { %>
                <div id="nameError" class="textoError"></div>
                    <%= errors.nombre.msg %> 
                </div>
            <% } %>
            <div id="nameError"></div>


            <input type="text" name="email" class="formEmail"
            <% if (locals.oldData && oldData.email) { %>
                value="<%= oldData.email%>"
            <% } else { %> placeholder="Email"  <% } %>

            <% if (locals.errors && errors.email) { %>
                class="invalido"
            <% } %>          
            >
            <% if (locals.errors && errors.email) { %>
                <div class="textoError"></div>
                    <%= errors.email.msg %> 
                </div>
            <% } %>

            <div id="emailError"></div>

            <input type="text" name="domicilio" class="formDomicilio"
            <% if (locals.oldData && oldData.domicilio) { %>
                value="<%= oldData.domicilio%>"
            <% } else { %> placeholder="Domicilio"  <% } %>

            <% if (locals.errors && errors.domicilio) { %>
                class="invalido"
            <% } %> >    

            <% if (locals.errors && errors.domicilio) { %>
                <div class="textoError"></div>
                    <%= errors.domicilio.msg %> 
                </div>
            <% } %>
            <div id="domicilioError"></div>
            

            <fieldset>
                <label for="image">Foto de perfil</label>
                <input type="file" name="image" id="image" class="formImage" />
            </fieldset>

            <% if (locals.errors && errors.image) { %>
                <div class="textoError"></div>
                    <%= errors.image.msg %> 
                </div>
            <% } %>
            <div id="imageError"></div>

            <input type="password" name="password" placeholder="Contraseña" class="formPassword" 
            <% if (locals.errors && errors.password) { %>
                class="invalido"
            <% } %>>
            <% if (locals.errors && errors.password) { %>
                <div class="textoError"></div>
                    <%= errors.password.msg %> 
                </div>
            <% } %>
            <div id="passwordError"></div>

            <label class="intereses" for="interes">Intereses</label>
            <div class="intereses__opciones">
            <label><input type="checkbox" name="interes" value="Construccion"> Construccion</label>
            <label><input type="checkbox" name="interes" value="Sanitario"> Sanitario</label>
            <label><input type="checkbox" name="interes" value="Jardineria"> Jardineria</label>  
            <label><input type="checkbox" name="interes" value="Otros"> Otros</label>
            </div>

            

            <button class="botonEnviar" type="submit">Enviar</button>
            <label><input class="hidden"type="checkbox" name="suscripcion" value="suscribe"></label>

        </fieldset>
    </form>
    <br>
    <br>

</main>

    <!-- ---------------- FOOTER ----------------- -->

    <%- include("../partials/footer.ejs") %>
<script src="/js/register.js"></script>
</body>
</html>