<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs", {title: "Profile", cssDeseado:["login.css", "profile.css"] }) %>
<body>

    <!-- ------------- HEADER -------------- -->

    <%- include("../partials/header.ejs") %>

<!-- ------------------ MAIN ----------------- -->

<main>
    <br>
    <div id="profile">

            <h1 id="nombre">Bienvenido <%= user.nombre %> </h1>
            <p id="usuario"><%= user.email %> </p>
        <img id="avatar" src="/uploads/users/<%= user.image %> " alt="foto de usuario">

        <% if (user.interes) { %>
            <p id="interes">Usted a seleccionado <%= user.interes %> como interes principal.</p>
        <% } %>

        <div id="cerrarSesion">
            <a class="dropdown-item" href="/user/logout">Cerrar Sesion</a>
        </div>

    </div>
</main>

    <!-- ---------------- FOOTER ----------------- -->

    <%- include("../partials/footer.ejs") %>

</body>
</html>