<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs", {title: "Profile", cssDeseado:["login.css", "profile.css"] }) %>
<body>

    <!-- ------------- HEADER -------------- -->

    <%- include("../partials/header.ejs") %>

<!-- ------------------ MAIN ----------------- -->

<main>
    <br>
    <div>

            <h1 id="nombre">Bienvenido <%= user.nombre %> </h1>
        <img id="avatar" src="/uploads/users/<%= user.image %> " alt="foto de usuario">
        <p id="usuario"><%= user.email %> </p>

        <a class="dropdown-item" href="/user/logout">Cerrar Sesion</a>
        

    </div>
</main>

    <!-- ---------------- FOOTER ----------------- -->

    <%- include("../partials/footer.ejs") %>

</body>
</html>