<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs", {title: "Profile", cssDeseado:["login.css"] }) %>
<body>

    <!-- ------------- HEADER -------------- -->

    <%- include("../partials/header.ejs") %>

<!-- ------------------ MAIN ----------------- -->

<main>
    <br>
    <div>
        <h1>Bienvenido <%= user.nombre %> </h1>
        <img src="/uploads/users/<%= user.image %> " alt="foto de usuario">
        <p><%= user.usuario %> </p>

    </div>
</main>

    <!-- ---------------- FOOTER ----------------- -->

    <%- include("../partials/footer.ejs") %>

</body>
</html>